{% extends 'base.html' %}
{% block content %}
	<h2> Welcome to <span class="text-primary">PLAZA</span>. <small>Front end for python scripts we used to run from console</small></h2>
	<h3 class="text-primary">
		What is PLAZA?
	</h3>
	<p >
		PLAZA is a web front-end to python scripts built with these goals in mind:
		<ul>
			<li>allow people with zero python knowledge to use the scripts by interaction through simple Web GUI;</li>
			<li>beautify scripts' output with modern CSS and HTML formatting;</li>
			<li>aggregate all the scripts in one repo but in a separate sandboxed directories to increase code manageability.</li>
		</ul>
	</p>
<h3 class="text-primary">
		How to use?
	</h3>
	<p >
		Navigate through the side menu to the desired script and follow the instructions.
	</p>
<h3 class="text-primary">
		Contacts
	</h3>
	<p >
		Have any ideas, questions, problems? Visit <a href="/contacts">contacts</a> page for all the details.
	</p>
{% endblock %}